<ul>
  <li ng-repeat="(team, teamValue) in dudes">
    <a name="team-{{team}}" class="team-divider">צוות {{ team }}</a>
    <ul>
      <li ng-repeat="dude in teamValue" class="dude-list">
        <span class="is-in-matzeva" ng-class="{ 'in-matzeva': dude.here, 'fa-thumbs-up': dude.here, 'fa-thumbs-down': !dude.here }" ng-click="dude.here = !dude.here"></span>
        <div class="update-matzeva-dude-info">
          <span class="update-matzeva-dude-name">{{ dude.name }}</span>
          <div class="update-matzeva-additional-info">
            <a click="#" onaftersave="dude.here = false" class="update-matzeva-dude-reason" editable-text="dude.why">{{ dude.here ? 'נוכח' : dude.why }}</a>
            <span class="update-matzeva-last-updated">{{ dude.lastUpdated }}</span>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>